<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />
	
	{{! Styles }}
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/mason.css" />
	
	<script type="text/javascript" src="{{asset "js/jquery-2.1.4.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/imagesloaded.pkgd.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/masonry.pkgd.min.js"}}"></script>
	<script type="text/javascript" src="{{asset "js/bootstrap.js"}}"></script>
	<script type="text/javascript">
		$(document).ready( function() {
			var $grid = $('.grid').masonry({
				itemSelector: '.grid-item',
				percentPosition: true,
				columnWidth: '.grid-sizer'
			});
			// layout Isotope after each image loads
				$grid.imagesLoaded().progress( function() {
				$grid.masonry();
			});  
			});
	</script>
	
	{{! Responsive Meta Tags }}
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     
	 {{ghost_head}}
</head>

<body class="{{body_class}}">
	<div class="container">
		<div class="row">
			{{navigation}}
		</div>
	</div>
	<div class="container">
		{{{body}}}
	</div>
</body>
</html>